# PORT=3000
# MONGODB_USER=selenaanya
# MONGODB_PASSWORD=98iSv2krsaXWboxD
# MONGODB_URL=cluster0.w4ljoow.mongodb.net
# MONGODB_DB=selenaanya

# # MongoDB
PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

# Server
PORT=
NODE_ENV=

# JWT
JWT_SECRET=

# App Domain
APP_DOMAIN=

# SMTP Settings (Ukr.Net)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
