# # # MongoDB
# PORT=
# MONGODB_USER=
# MONGODB_PASSWORD=
# MONGODB_URL=
# MONGODB_DB=

# # Server
# PORT=
# NODE_ENV=

# # JWT
# JWT_SECRET=

# # App Domain
# APP_DOMAIN=

# # SMTP Settings (Ukr.Net)
# SMTP_HOST=
# SMTP_PORT=
# SMTP_SECURE=
# SMTP_USER=
# SMTP_PASSWORD=
# SMTP_FROM=

# # Cloudinary
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
# CLOUDINARY_URL=

# MongoDB - Use the complete connection string
MONGODB_URL=mongodb+srv://selenaanya:WCRzDoS14SeUYIDz@cluster0.w4ljoow.mongodb.net/selenaanya?retryWrites=true&w=majority&appName=Cluster0
# MONGODB_URL=mongodb://selenaanya:WCRzDoS14SeUYIDz@cluster0-shard-00-00.w4ljoow.mongodb.net:27017,cluster0-shard-00-01.w4ljoow.mongodb.net:27017,cluster0-shard-00-02.w4ljoow.mongodb.net:27017/selenaanya?ssl=true&replicaSet=atlas-123abc-shard-0&authSource=admin&retryWrites=true&w=majority


# PORT=3000
# MONGODB_USER=selenaanya
# MONGODB_PASSWORD=WCRzDoS14SeUYIDz
# MONGODB_URL=cluster0.w4ljoow.mongodb.net
# MONGODB_DB=selenaanya


# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9

# App Domain
APP_DOMAIN=http://localhost:3000

# SMTP Settings (Ukr.Net)
SMTP_HOST=smtp.ukr.net
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=kovalenko.a.v25@ukr.net
SMTP_PASSWORD=Y64DtC8PBLqwMr4A
SMTP_FROM=kovalenko.a.v25@ukr.net

# Cloudinary
CLOUDINARY_CLOUD_NAME=ddnsttloi
CLOUDINARY_API_KEY=173554797881241
CLOUDINARY_API_SECRET=7cGp1wpKN-OuSlpEvuFlol8o218
CLOUDINARY_URL=cloudinary://173554797881241:7cGp1wpKN-OuSlpEvuFlol8o218@ddnsttloi

SERVE_STATIC=false

ALLOWED_ORIGINS=http://localhost:3000,https://localhost:3000
