# PORT=3000
# MONGODB_USER=selenaanya
# MONGODB_PASSWORD=98iSv2krsaXWboxD
# MONGODB_URL=cluster0.w4ljoow.mongodb.net
# MONGODB_DB=selenaanya

# MongoDB
MONGODB_URL=mongodb://localhost:27017/your-db-name

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# App Domain
APP_DOMAIN=http://localhost:3000

# SMTP Settings (Brevo)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your-brevo-email@example.com
SMTP_PASSWORD=your-brevo-password
SMTP_FROM=your-brevo-email@example.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=ddnsttloi
CLOUDINARY_API_KEY=173554797881241
CLOUDINARY_API_SECRET=7cGp1wpKN-OuSlpEvuFlol8o218
